.galeria {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../../../assets/img/background_galeria.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

@media screen and (max-width: 1023px) {
  .titulo-cursiva {
    width: 250px;
  }
}
