<section class="galeria">
  <img class="titulo-cursiva" src="../../../assets/img/tal-vez-quieras-seguirnos.png" alt="tal vez quieras seguirnos">
  <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '90vw', 'max-width': '640px'}" [numVisible]="5">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 90vw; max-width: 640px;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="width: 100px;" />
        </div>
    </ng-template>
  </p-galleria>
</section>
