<section class="contacto">
  <div class="contacto__info">
    <h3>Tenemos tanto para dar que lo que buscas seguro está acá</h3>
    <p>
      Stand - Feria - Congreso - Convención - Evento - Feria - Muestra comercial
      - Feria Comercial - Exhibición Comercial - Exhibición - Exhibidores -
      Activaciones - Creatividad - Montaje - Espacio Comercial - Producción -
      Diseño de Stand - Diseño de escenario - Diseño de feria - Trima - Camerino
      - Techo Carpas - Trimalla - Mobiliario - Logística - Catering - Bastidor -
      Backing - Impresión - Banner - Adhesivo - Branding - Gigantografía -
      Polietileno - Diseño de stand - Diseño de Feria - Centro de convenciones -
      Palacio de exposiciones - Recinto de exposiciones - Lugar del evento -
      Piso para stand - Paredes
    </p>
  </div>
  <img src="../../../assets/img/isotipo_home.png" alt="logo expopanel">
  <div class="contacto__formulario">
    <h3>Empieza con un mensaje, termina en una experiencia para recordar.</h3>
    <p>
      Déjanos tu teléfono y en menos de 24 horas tu idea se empezará a hacer
      realidad.
    </p>
    <form action="https://formsubmit.co/santiago.barrerae@gmail.com" method="POST">
      <input type="tel" name="tel" id="tel">
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>
