<div class="maintenance">
  <div class="maintenance__container info">
    <div class="maintenance__info"></div>
  </div>
  <div class="maintenance__container about">
    <img
      src="../../../assets/img/maintenance/logo.png"
      alt="expopanel-logo"
      class="maintenance__about-logo"
    />
    <p class="maintenance__about-text">
      Convencidos que donde hay un espacio hay una experiencia esperando por ser
      descubierta, movemos nuestra veteranía, maestría y destreza para que tu
      marca sea un grito contra la monotonía. <br /><br />
      Dile hola al nuevo Expopanel. Ahora somos producción de experiencias
      aplicadas a eventos, creatividad y data para tu marca.
    </p>
    <div class="maintenance__card-container upper">
      <div class="maintenance__info-card white"></div>
      <div class="maintenance__info-card purple"></div>
    </div>
    <div class="maintenance__card-container lower">
      <div class="maintenance__info-card yellow"></div>
      <div class="maintenance__info-card black"></div>
    </div>
  </div>
  <div class="maintenance__footer">
    <div class="maintenance__button-container">
      <a class="maintenance__button" href="../../../assets/doc/la_experiencia.pdf" download="Expopanel - La experiencia lo es todo.pdf">La experiencia lo es todo (PDF)</a>
    </div>
    <div class="maintenance__text-container">
      <img class="maintenance__text" src="../../../assets/img/maintenance/productos.png" alt=""/>
    </div>
  </div>
</div>
