.maintenance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-image: url(../../../assets/img/maintenance/background.png);
  background-size: cover;

  .maintenance__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 40vw;

    &.info {
      background-image: url(../../../assets/img/maintenance/bandas_cruzadas.png);
      background-size: contain;

      .maintenance__info {
        width: 40vw;
        height: 40vw;
        background-image: url(../../../assets/img/maintenance/headline.png);
        background-size: contain;
      }
    }

    &.about {
      .maintenance__about-logo {
        width: 270px;
        height: auto;
        margin-top: -20px;
        margin-bottom: -70px;
      }
      .maintenance__about-text {
        width: 90%;
        color: aliceblue;
        font-weight: 500;
        text-shadow: 2px 2px 2px #222;
      }

      .maintenance__card-container {
        display: flex;
        width: 90%;

        &.upper {
          justify-content: end;
        }

        &.lower {
          justify-content: start;
        }
        .maintenance__info-card {
          width: 200px;
          height: 200px;
          margin: -65px -20px;
          background-size: contain;

          &.white {
            background-image: url(../../../assets/img/maintenance/montaje_eventos.png);
          }
          &.purple {
            background-image: url(../../../assets/img/maintenance/creative_experience.png);
          }
          &.yellow {
            background-image: url(../../../assets/img/maintenance/marketing_experiencial.png);
          }
          &.black {
            background-image: url(../../../assets/img/maintenance/data_xp.png);
          }
        }
      }
    }
  }

  .maintenance__footer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

    .maintenance__button-container {
      width: 40vw;
      display: flex;
      justify-content: center;
      .maintenance__button {
        height: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        background: rgb(245, 0, 165);
        background: linear-gradient(
          355deg,
          rgba(245, 0, 165, 1) 20%,
          rgba(253, 0, 59, 1) 100%
        );
        color: aliceblue;
        color: aliceblue;
        font-weight: 600;
        text-decoration: none;
        line-height: 20px;
        cursor: pointer;
      }
    }
    .maintenance__text-container {
      width: 40vw;
      display: flex;
      justify-content: center;
      .maintenance__text {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .maintenance {

    .maintenance__container {
      width: 90vw;
      height: 90vw;

      &.info {

        .maintenance__info {
          width: 90vw;
          height: 90vw;
          background-image: url(../../../assets/img/maintenance/headline.png);
          background-size: contain;
        }
      }

      &.about {
        height: fit-content;

        .maintenance__card-container {
          display: flex;
          width: 90%;

          &.upper {
            justify-content: end;
          }

          &.lower {
            justify-content: start;
          }
          .maintenance__info-card {
            width: 200px;
            height: 200px;
            margin: -65px -20px;
            background-size: contain;

            &.white {
              background-image: url(../../../assets/img/maintenance/montaje_eventos.png);
            }
            &.purple {
              background-image: url(../../../assets/img/maintenance/creative_experience.png);
            }
            &.yellow {
              background-image: url(../../../assets/img/maintenance/marketing_experiencial.png);
            }
            &.black {
              background-image: url(../../../assets/img/maintenance/data_xp.png);
            }
          }
        }
      }
    }

    .maintenance__footer {
      flex-wrap: wrap;
      .maintenance__button-container {
        width: 90vw;
        margin: 100px 0;
      }
      .maintenance__text-container {
        width: 90vw;
      }
    }
  }
}
