<section class="creatividad">
  <div class="creatividad__contenedor izq">
    <h3>
      Acá es donde la rompemos de forma brillante. Idea, concepto y diseño de
      evento, espacio o experiencia.
    </h3>
    <p>Hablamos de creatividad pura hecha realidad para tu marca</p>
    <p>Conceptualización de evento</p>
    <p>Diseño Stand</p>
    <p>Diseño de escenarios</p>
    <p>Planimetría</p>
    <p>Diseño de espacio efímero</p>
    <p>Mobiliario comercial</p>
  </div>
  <div class="creatividad__contenedor der">
    <img src="../../../assets/img/creative_expirience.png" alt="creative experience" class="creatividad__titulo">
  </div>
</section>
