.montajes {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../../../assets/img/background_montajes.jpg);
  background-size: cover;
  .montajes__contenedor {
    width: 50vw;
    height: 30vw;
    &.izq {
      display: flex;
      align-items: center;
      .montajes__titulo {
        width: 40vw;
        margin: auto;
      }
    }
    &.der {
      padding-inline: 30px;
      background: url(../../../assets/img/background_texto_inv.png);
      background-size: cover;
      background-repeat: no-repeat;
      h3,p {
        margin: 0 60px;
      }

      h3:first-child {
        margin-top: 100px;
        margin-bottom: 50px;
      }

      p {
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .montajes {
    flex-direction: column;
    justify-content: center;
    .montajes__contenedor {
      &.izq {
        width: 100vw;
        height: auto;
        .montajes__titulo {
          width: 80vw;
        }
      }
      &.der {
        width: 70vw;
        height: 70vw;
        margin-top: 30px;
        h3,p {
          margin: 0 20px;
        }

        h3:first-child {
          margin-top: 30px;
        }

        p {
          margin-top: 10px;
        }
      }
    }
  }
}
