.montajes {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .montajes__contenedor {
    width: 45vw;
    height: 45vw;
    background-color: #ddd;
    &.izq {
    }
    &.der {
      padding-inline: 30px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .montajes {
    flex-direction: column;
    justify-content: center;
    .montajes__contenedor {
      &.izq {
        min-width: 100vw;
      }
      &.der {
      }
    }
  }
}
