<section class="montajes">
  <div class="montajes__contenedor izq">
    <img src="" alt="" class="montajes__relojes" />
    <img src="../../../assets/img/montaje_eventos.png" alt="montaje eventos" class="montajes__titulo" />
    <img src="" alt="" class="montajes__reloj" />
  </div>
  <div class="montajes__contenedor der">
    <h3>
      Rapidez, precisión y amor por los detalles. Así aplicamos la producción a
      ese evento que tienes en mente.
    </h3>
    <p>Montaje de stands.</p>
    <p>Monstaje de escenarios.</p>
    <p>Montaje de registros.</p>
    <p>Montaje de techos y carpas.</p>
    <p>Alquiler de mobiliario.</p>
    <p>Montaje de paneleria.</p>
    <img src="" alt="" />
  </div>
</section>
