.montajes {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../../../assets/img/background_montajes.jpg);
  background-size: cover;
  .montajes__contenedor {
    width: 50vw;
    height: 30vw;
    &.izq {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .montajes__titulo {
        width: 40vw;
        margin: auto;
      }
      .montajes__reloj {
        &.perfil {
          width: 200px;
          margin-bottom: -80px;
        }
        &.frontal {
          width: 300px;
        }
        &.acostado {
          width: 150px;
          margin: auto;
          margin-right: 200px;
          margin-top: 50px;
        }
      }
    }
    &.der {
      padding-inline: 30px;
      background: url(../../../assets/img/background_texto_inv_h_v.png);
      background-size: cover;
      background-repeat: no-repeat;
      h3,p {
        margin: 0 70px;
      }

      h3:first-child {
        margin-top: 100px;
        margin-bottom: 50px;
      }

      p {
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .montajes {
    flex-direction: column;
    justify-content: center;
    .montajes__contenedor {
      &.izq {
        width: 100vw;
        height: auto;
        .montajes__titulo {
          width: 80vw;
        }
        .montajes__reloj {
          &.perfil {
            width: 150px;
            margin-bottom: -350px;
            position: relative;
            right: -200px;
          }
          &.frontal {
            width: 250px;
            margin: auto;
            margin-left: -290px;
          }
          &.acostado {
            width: 80px;
            margin: auto;
            margin-right: 50px;
            position: relative;
            bottom: -370px;
          }
        }
      }
      &.der {
        width: 70vw;
        height: 70vw;
        margin-top: 30px;
        h3,p {
          margin: 0 50px;
        }

        h3:first-child {
          margin-top: 90px;
        }

        p {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .montajes {
    .montajes__contenedor {
      &.der {
        h3,p {
          margin: 0 20px;
        }

        h3:first-child {
          margin-top: 50px;
        }

        p {
          margin-top: 5px;
        }
      }
    }
  }
}
