.data {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/img/background_data.jpg);
  background-size: cover;
  .data__contenedor {
    width: 50vw;
    height: 30vw;
    &.izq {
      padding-inline: 30px;
      background: url(../../../assets/img/background_texto_inv_h_v.png);
      background-size: cover;
      background-repeat: no-repeat;
      h3,
      p {
        margin: 0 60px;
        margin-right: 20vw;
      }

      h3 {
        margin-top: 100px;
        margin-bottom: 50px;
      }

      p {
        margin-top: 5px;
      }
    }
    &.der {
      display: flex;
      align-items: center;
      position: absolute;
      margin-left: auto;
      margin-right: -50vw;
      .data__titulo {
        width: 40vw;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .data {
    flex-direction: column-reverse;
    justify-content: center;
    .data__contenedor {
      &.izq {
        width: 70vw;
        height: 70vw;
        margin-top: 30px;
        h3,
        p {
          margin: 0 20px;
        }

        h3 {
          margin-top: 30px;
        }

        p {
          margin-top: 10px;
        }
      }
      &.der {
        width: 100vw;
        height: auto;
        top: 100px;
        margin-right: unset;
        .data__titulo {
          width: 80vw;
        }
      }
    }
  }
}
