.data {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/img/background_data.jpg);
  background-size: cover;
  .data__contenedor {
    width: 50vw;
    height: 30vw;
    &.izq {
      padding-inline: 30px;
      background: url(../../../assets/img/background_texto_inv_h_v.png);
      background-size: cover;
      background-repeat: no-repeat;
      h3,
      p {
        margin: 0 60px;
        margin-right: 20vw;
      }

      h3 {
        margin-top: 100px;
        margin-bottom: 50px;
      }

      p {
        margin-top: 5px;
      }
      .data__cam-techo {
        width: 80px;
        position: absolute;
        left: 200px;
        top: 70px;
        transform: rotate(-130deg) scaleX(-1);
      }
      .data__cam-piso {
        width: 150px;
        transform: rotate(-45deg);
        position: absolute;
        margin-left: 25vw;
        bottom: 50px;
      }
    }
    &.der {
      display: flex;
      align-items: center;
      position: absolute;
      margin-left: auto;
      margin-right: -50vw;
      .data__titulo {
        width: 40vw;
        margin: auto;
      }
      .data__cam-titulo {
        width: 150px;
        position: absolute;
        right: 220px;
        top: 75px;
        transform: scaleX(-1);
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .data {
    flex-direction: column-reverse;
    justify-content: center;
    .data__contenedor {
      &.izq {
        width: 70vw;
        height: 70vw;
        margin-top: 30px;
        h3,
        p {
          margin: 0 20px;
        }

        h3 {
          margin-top: 30px;
        }

        p {
          margin-top: 10px;
        }
        .data__cam-techo {
          width: 50px;
          left: 5px;
          top: 250px;
        }
        .data__cam-piso {
          width: 100px;
        }
      }
      &.der {
        width: 100vw;
        height: auto;
        top: 130px;
        margin-right: unset;
        .data__titulo {
          width: 80vw;
        }
        .data__cam-titulo {
          width: 100px;
          right: 100px;
          top: -30px;
        }
      }
    }
  }
}
