<section class="data">
  <div class="data__contenedor izq">
    <img src="" alt="" class="data__cam-techo" />
    <h3>
      Medir, medir y otra vez medir. Contar con los datos de tu eventosupondrá
      una ventaja para tu marca en demasiados niveles.
    </h3>
    <p>
      Ahora observamos, medimos y analizamos el comportamiento de tus asistentes
      pa comportamiento de tus asistentes para que los entiendas y tomes mejores
      decisiones
    </p>
    <img src="" alt="" class="data__cam-piso" />
  </div>
  <div class="data__contenedor der">
    <img src="../../../assets/img/" alt="">
    <img src="../../../assets/img/data.png" alt="data" class="data__titulo" />
  </div>
</section>
