.home {
  width: 100vw;
  height: 90vh;
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;
  background: url(../../../assets/img/background_home.jpg);
  background-size: cover;

  .home__contenedor {
    width: 40vw;
    height: 40vw;

    &.izq {
      background: url(../../../assets/img/background_texto.png);
      background-size: contain;
      background-repeat: no-repeat;

      h3,p,img {
        margin: 0 60px;
      }

      h3:first-child {
        margin-top: 50px;
      }

      p {
        margin-top: 20px;
      }
    }

    &.der {
      display: flex;
      align-items: center;
      img {
        width: 1200px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .home {
    flex-direction: column-reverse;
    justify-content: center;
    .home__contenedor {
      &.izq {
        width: 70vw;
        height: 70vw;
        margin-top: 70px;
        h3,p {
          margin: 0 20px;
        }

        h3:first-child {
          margin-top: 20px;
        }

        p {
          margin-top: 10px;
        }
        img {
          width: 150px;
          margin-left: 20px;
        }
      }
      &.der {
        min-width: 100vw;
        img {
          width: 650px;
        }
      }
    }
  }
}
