<section id="home" class="home">
  <div class="home__contenedor izq">
    <h3>CAMBIAR DESDE ADENTRO.</h3>
    <h3>LA ÚNICA FORMA POSIBLE DE EVOLUCIONAR.</h3>
    <p>
      Convencidos que donde hay un espacio hay una experiencia esperando por ser
      descubierta, movemos nuestra veteranía, maestría y destreza para que tu
      marca sea un grito contra la monotonía.
    </p>
    <p>
      Dile hola al nuevo Expopanel. Ahora somos producción producción de
      experiencias aplicadas a eventos, creatividad y data para tu marca.
    </p>
    <p class="cursiva">Disfruta tu visita</p>
  </div>
  <div class="home__contenedor der">
    <h1>LOGO</h1>
  </div>
</section>
