<div id="home" class="home">

    <div id="home__contenedor-izq" class="home__contenedor izq">
        <h2 id="home__titulo" class="home__titulo">Creatividad mundial 
            para el montaje de eventos<br>
            <span style="color: yellow;">En el eje cafetero</span></h2>
      </div>
    
      <div id="home__contenedor-der" class="home__contenedor der">
        <div id="home__contenedor-caracteristicas" class="home__contenedor-caracteristicas">
    
          <div id="home__logo" class="home__logo"> 
            <img id="home__logo-img" class="home__logo-img" src="/assets/img/logo.png" >
            <img id="home__flecha" class="home__flecha" src="/assets/img/flecha.png">
          </div>
          
        
        </div>
      </div>
</div>