.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .home__contenedor {
    width: 40%;

    &.izq {
      padding: 40px;
    }

    &.der {
    }
  }

}
