.navbar {
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  position: fixed;
  right: 0;
  z-index: 9999;

  a {
    scroll-behavior: smooth;
    .navbar__logotipo {
      width: 350px;
      margin-left: 100px;
    }
  }

  .navbar__icono {
    display: none;
  }

  .navbar__list {
    width: fit-content;
    height: 100%;
    display: flex;
    margin-right: 50px;
    align-items: center;
    padding-inline: 30px;
    border: 5px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: ease 2s;

    .navbar__item {
      width: fit-content;
      list-style: none;
      padding: 0 10px;
      font-size: 14px;
      user-select: none;
      a {
        cursor: pointer;
        color: white;
        text-decoration: none;
      }

      &.fixed {
        height: 100%;
        padding: 0;
        text-align: center;
        background: orange;
        border: 1px solid orange;
      }
    }
  }

  &.contraido {
    .navbar__button {
      display: flex;

      .navbar__button-bar {
        background-color: black;
      }
    }

    .navbar__list {
      width: 80px;
      padding-inline-start: 0;
      padding-inline-end: 0;

      .navbar__item {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .navbar {
    height: auto;
    padding: 0;
    padding-top: 50px;

    a {
      margin: auto;
      .navbar__logotipo {
        width: 50vw;
        margin-left: unset;
      }
    }

    .navbar__icono {
      display: block;
      position: fixed;
      color: white;
      font-size: x-large;
      right: 25px;
      z-index: 99;
      transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

      &.desplegado {
        color: purple;
      }
    }

    .navbar__list {
      width: 90vw;
      height: 100vh;
      flex-direction: column;
      border: none;
      padding-top: 100px;
      margin-right: 0;
      background: rgba(77, 0, 51, 80%);
      backdrop-filter: blur( 3px);
      border-left: 1px solid white;
      margin-block-start: 0;
      position: fixed;
      top: 0;
      right: -120vw;
      z-index: 9;
      transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

      &.desplegado {
        right: 0;
      }

      .navbar__item {
        margin-top: 20px;
        a {
          color: white;
          font-size: large;
          font-weight: 800;
        }
      }
    }
  }
}
