<nav id="navbar" class="navbar">
  <ul id="navbar__list" class="navbar__list">
    <li id="navbar__item-home" class="navbar__item home">Home</li>
    <li id="navbar__item-model" class="navbar__item model">Model</li>
    <li id="navbar__item-drivers" class="navbar__item drivers">Drivers</li>
    <li id="navbar__item-mantra" class="navbar__item mantra">Mantra</li>
    <li id="navbar__item-accolades" class="navbar__item accolades">
      Accolades
    </li>
    <li id="navbar__item-places" class="navbar__item places">Places</li>
  </ul>
  <div id="navbar__item-contact" class="navbar__item fixed contact">
    Contact
  </div>
</nav>
