<div>
  <app-navbar></app-navbar>
</div>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div id="{{ actual }}" class="section">
    <app-home></app-home>
  </div>
  <div id="{{ actual }}" class="section">
    <app-montajes></app-montajes>
  </div>
  <div id="{{ actual }}" class="section">
    <app-creatividad></app-creatividad>
  </div>
  <div id="{{ actual }}" class="section">
    <app-marketing></app-marketing>
  </div>
  <div id="{{ actual }}" class="section">
    <app-data></app-data>
  </div>
  <div id="{{ actual }}" class="section">
    <app-aliados></app-aliados>
  </div>
  <div id="{{ actual }}" class="section">
    <app-footer></app-footer>
  </div>
</div>

<router-outlet></router-outlet>
