.seccion {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  .seccion__contenedor {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &.izq {
      background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../../../assets/img/ciudad_uno.jpg);

      &:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../../../assets/img/ciudad_uno.jpg);
      }
    }

    &.der {
      background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../../../assets/img/ciudad_dos.jpg);
      
      &:hover {
      background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../../../assets/img/ciudad_dos.jpg);

      }    
    }


    .seccion__titulo {
      font-size: 70px;
      color: aliceblue;
    }

    .seccion__contenedor-datos {

      .seccion__datos-direccion {
        font-size: 18px;
        color: aliceblue;
      }

      .seccion__datos-telefono {
        font-size: 18px;
        color: orange;
      }

      .seccion__datos-mapa {
        display: flex;
        align-items: center;
        font-size: 12px;
        text-decoration: none;
        color: orange;
      }
    }
    
  }
}