<div id="seccion-cuatro" class="seccion">

  <div id="seccion-cuatro__contenedor-izq" class="seccion__contenedor izq">
    <h2 id="seccion-cuatro__titulo-izq" class="seccion__titulo izq">Pereira.</h2>
    <div id="seccion-cuatro__contenedor-datos-izq" class="seccion__contenedor-datos izq">
      <p id="seccion-cuatro__datos-direccion-izq" class="seccion__datos-direccion izq">
        Calle 19 #7-60 Piso 3
      </p>
      <p id="seccion-cuatro__datos-telefono-izq" class="seccion__datos-telefono izq">
        (+57 6) 320 9658 Ext 1095 
      </p>
      <a href="#" id="seccion-cuatro__mapa-izq" class="seccion__datos-mapa izq">
        <mat-icon id="seccion-cuatro__icono-mapa-izq" class="seccion__datos-mapa-icono izq">location_on</mat-icon> Ver en mapa
      </a>
    </div>
  </div>

  <div id="seccion-cuatro__contenedor-der" class="seccion__contenedor der">
    <h2 id="seccion-cuatro__titulo-der" class="seccion__titulo der">Bogotá.</h2>
    <div id="seccion-cuatro__contenedor-datos-der" class="seccion__contenedor-datos der">
      <p id="seccion-cuatro__datos-direccion-der" class="seccion__datos-direccion der">
        Diágonal 163 #60-20 Bodega 1
      </p>
      <p id="seccion-cuatro__datos-telefono-der" class="seccion__datos-telefono der">
        (+57 1) 632 2585 
      </p>
      <a href="#" id="seccion-cuatro__mapa-der" class="seccion__datos-mapa der">
        <mat-icon id="seccion-cuatro__icono-mapa-der" class="seccion__datos-mapa-icono der">location_on</mat-icon> Ver en mapa
      </a>
    </div>
  </div>

</div>
