<div id="seccion-cuatro" class="seccion">

  <div id="seccion-cuatro__contenedor-izq" class="seccion__contenedor izq">
    <div id="seccion-cuatro__paginado" class="seccion__paginado">
      <p id="seccion-cuatro__pagina" class="seccion__pagina">03.</p>
      <div id="seccion-cuatro__paginado-borde" class="seccion__paginado-borde"></div>
    </div>
    <h2 id="seccion-cuatro__titulo" class="seccion__titulo">Modelos</h2>
    <p id="seccion-cuatro__resumen" class="seccion__resumen">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque repudiandae aliquam eligendi nemo consequatur ad quae laudantium repellendus facilis nisi accusantium explicabo maxime itaque, veniam ex cupiditate exercitationem nam alias!</p>
  </div>

  <div id="seccion-cuatro__contenedor-der" class="seccion__contenedor der">
    <div id="seccion-cuatro__contenedor-caracteristicas" class="seccion__contenedor-caracteristicas">

      <div id="seccion-cuatro__carateristica-uno" class="seccion__caracteristica uno">
        <mat-icon id="seccion-cuatro__icono-uno" class="seccion__icono uno">insert_emoticon</mat-icon>
        <p id="seccion-cuatro__caracteristica-texto-uno" class="seccion__texto-caracteristica uno"><strong>Los logros de nuestros clientes</strong> son nuestros logros.</p>
      </div>
      <div id="seccion-cuatro__carateristica-dos" class="seccion__caracteristica dos">
        <mat-icon id="seccion-cuatro__icono-dos" class="seccion__icono dos">insert_emoticon</mat-icon>
        <p id="seccion-cuatro__caracteristica-texto-dos" class="seccion__texto-caracteristica dos"><strong>Obsesionados</strong> con el alto rendimiento.</p>
      </div>
      <div id="seccion-cuatro__carateristica-tres" class="seccion__caracteristica tres">
        <mat-icon id="seccion-cuatro__icono-tres" class="seccion__icono tres">insert_emoticon</mat-icon>
        <p id="seccion-cuatro__caracteristica-texto-tres" class="seccion__texto-caracteristica tres"><strong>Apasionados</strong> con la meritocracia.</p>
      </div>
      <div id="seccion-cuatro__carateristica-cuatro" class="seccion__caracteristica cuatro">
        <mat-icon id="seccion-cuatro__icono-cuatro" class="seccion__icono cuatro">insert_emoticon</mat-icon>
        <p id="seccion-cuatro__caracteristica-texto-cuatro" class="seccion__texto-caracteristica cuatro"><strong>No nos detenemos,</strong> siempre estamos avanzando.</p>
      </div>

    </div>
  </div>

</div>
