.seccion {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    .seccion__contenedor {
      width: 40vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &.izq {
        display: flex;
        flex-direction: column;
  
        .seccion__paginado {
          width: 100%;
          display: flex;
          align-items: baseline;
          
          .seccion__pagina {
            margin-right: 7px;
          }
  
          .seccion__paginado-borde {
            width: 40vw;
            border-bottom: 1px solid black;
          }
        }
        
        .seccion__titulo {
          width: 100%;
          font-size: 50px;
          text-align: right;
        }
  
        .seccion__resumen {
          font-size: 14px;
          text-align: right;
        }
  
      }
  
      .seccion__contenedor-caracteristicas {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .seccion__caracteristica {
          display: flex;
          align-items: center;
          margin-top: 30px;
  
          .seccion__icono {
            width: 30px;
            height: 30px;
            font-size: 30px;
            margin-right: 10px;
          }
  
          .seccion__texto-caracteristica {
            font-size: 12px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .input {
    position: relative;
    
    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
      margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
      background: pink;
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      background: var(--color-background);
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 3px solid currentColor;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      color: currentColor;
      background: transparent;
      border-radius: var(--size-radius);
      
      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(.25rem, -65%) scale(.8);
          color: var(--color-accent);
        }
      }
    }
  }