<div id="seccion-uno" class="seccion">
  <div id="seccion-uno__contenedor-izq" class="seccion__contenedor izq">
    <h2 id="seccion-uno__titulo" class="seccion__titulo">Formulario</h2>
    <p id="seccion-uno__resumen" class="seccion__resumen">
      De contacto para la contratacion de eventos
    </p>
  </div>

  <div id="seccion-uno__contenedor-der" class="seccion__contenedor der">
    <div
      id="seccion-uno__contenedor-caracteristicas"
      class="seccion__contenedor-caracteristicas"
    >
      <label class="input">
        <input class="input__field" type="text" placeholder=" " />
        <span class="input__label">Nombre Completo</span>
      </label>
      <label class="input">
        <input class="input__field" type="text" placeholder=" " />
        <span class="input__label">Correo</span>
      </label>
      <label class="input">
        <input class="input__field" type="text" placeholder=" " />
        <span class="input__label">Telefono</span>
      </label>
      <label class="input">
        <input class="input__field" type="text" placeholder=" " />
        <span class="input__label">Mensaje</span>
      </label>

      <button color="primary"> Enviar</button>
    </div>
  </div>
</div>
