/* You can add global styles to this file, and also import other style files */
@import url(~fullpage.js/dist/fullpage.min.css);

@font-face {
  font-family: ClarityCity;
  font-weight: bold;
  src: url("../src/assets/fonts/ClarityCity-Bold.otf") format('opentype');
}

@font-face {
  font-family: BLMelody;
  font-weight: normal;
  src: url("../src/assets/fonts/BLMelody-Medium.otf") format('opentype');
}

html, body { height: 100%; }
body { margin: 0; font-family: BLMelody, Roboto, "Helvetica Neue", sans-serif; color: #dadada }

h3 {
  color: #dadada;
  font-family: ClarityCity;
  font-size: xx-large;
}

p {
  color: #dadada;
  font-family: BLMelody;
  font-size: large;
}

@media screen and (max-width: 1023px) {
  h3 {
    font-size: small;
  }

  p {
    font-size: xx-small;
  }
}
