<section class="marketing">
  <div class="marketing__contenedor izq">
    <img src="" alt="" class="marketing__relojes" />
    <img src="" alt="" class="marketing__titulo" />
    <img src="" alt="" class="marketing__reloj" />
  </div>
  <div class="marketing__contenedor der">
    <h3>
      Desde ahora generamos experiencias que apuntan a tu cliente final, nos
      movemos para activar tus ventas.
    </h3>
    <p>
      A través de ideas transaccionales de engagement centradas en el comprador.
    </p>
    <p>Activaciones</p>
    <p>Muestreos de producto</p>
    <p>Eventos de marca</p>
    <p>Campaña ATL / BTL</p>
    <p>Acciones en punto de venta para Shopper</p>
    <img src="" alt="" />
  </div>
</section>
