.marketing {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../../../assets/img/background_marketing.jpg);
  background-size: cover;
  .marketing__contenedor {
    width: 50vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    &.izq {
      display: flex;
      align-items: center;
      .marketing__titulo {
        width: 40vw;
        margin: auto;
      }
      .marketing__gafas {
        &.superior {
          width: 350px;
          position: absolute;
          top: 3vh;
          left: 0;
        }
        &.inferior {
          width: 250px;
          transform: rotate(45deg);
          align-self: flex-end;
          margin-right: 10vw;
          position: absolute;
          bottom: 5vh;
        }
      }
    }
    &.der {
      padding-inline: 30px;
      background: url(../../../assets/img/background_texto_inv_h_v.png);
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
      h3,p {
        margin: 0 60px;
      }

      h3:first-child {
        margin-top: 100px;
        margin-bottom: 50px;
      }

      p {
        margin-top: 5px;
      }
    }
  }
  .marketing__gafas {
    &.invertidas {
      width: 250px;
      transform: rotate(180deg);
      align-self: flex-end;
      margin-right: 10vw;
      position: absolute;
      right: 7vw;
      bottom: 5vh;
      z-index: 0;
    }
  }
}

@media screen and (max-width: 1023px) {
  .marketing {
    flex-direction: column;
    justify-content: center;
    .marketing__contenedor {
      &.izq {
        width: 100vw;
        height: auto;
        .marketing__titulo {
          width: 80vw;
        }
      }
      &.der {
        width: 70vw;
        height: 70vw;
        margin-top: 30px;
        h3,p {
          margin: 0 50px;
        }

        h3:first-child {
          margin-top: 100px;
        }

        p {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .marketing {
    .marketing__contenedor {
      &.der {
        width: 70vw;
        height: 70vw;
        margin-top: 30px;
        h3,p {
          margin: 0 20px;
        }

        h3:first-child {
          margin-top: 40px;
        }

        p {
          margin-top: 5px;
        }
      }
    }
  }
}
