<div id="seccion-uno" class="seccion">

  <div id="seccion-uno__contenedor-izq" class="seccion__contenedor izq">
    <div id="seccion-uno__paginado" class="seccion__paginado">
      <p id="seccion-uno__pagina" class="seccion__pagina">02.</p>
      <div id="seccion-uno__paginado-borde" class="seccion__paginado-borde"></div>
    </div>
    <h2 id="seccion-uno__titulo" class="seccion__titulo">Dominios</h2>
    <p id="seccion-uno__resumen" class="seccion__resumen">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque repudiandae aliquam eligendi nemo consequatur ad quae laudantium repellendus facilis nisi accusantium explicabo maxime itaque, veniam ex cupiditate exercitationem nam alias!</p>
  </div>

  <div id="seccion-uno__contenedor-der" class="seccion__contenedor der">
    <div id="seccion-uno__contenedor-caracteristicas" class="seccion__contenedor-caracteristicas">

      <div id="seccion-uno__carateristica-uno" class="seccion__caracteristica uno">
        <mat-icon id="seccion-uno__icono-uno" class="seccion__icono uno">android</mat-icon>
        <p id="seccion-uno__caracteristica-texto-uno" class="seccion__texto-caracteristica uno"><strong>Los logros de nuestros clientes</strong> son nuestros logros</p>
      </div>
      <div id="seccion-uno__carateristica-dos" class="seccion__caracteristica dos">
        <mat-icon id="seccion-uno__icono-dos" class="seccion__icono dos">android</mat-icon>
        <p id="seccion-uno__caracteristica-texto-dos" class="seccion__texto-caracteristica dos"><strong>Obsesionados</strong> con el alto rendimiento</p>
      </div>
      <div id="seccion-uno__carateristica-tres" class="seccion__caracteristica tres">
        <mat-icon id="seccion-uno__icono-tres" class="seccion__icono tres">android</mat-icon>
        <p id="seccion-uno__caracteristica-texto-tres" class="seccion__texto-caracteristica tres"><strong>Apasionados</strong> con la meritocracia</p>
      </div>
      <div id="seccion-uno__carateristica-cuatro" class="seccion__caracteristica cuatro">
        <mat-icon id="seccion-uno__icono-cuatro" class="seccion__icono cuatro">android</mat-icon>
        <p id="seccion-uno__caracteristica-texto-cuatro" class="seccion__texto-caracteristica cuatro"><strong>No nos detenemos,</strong> siempre estamos avanzando</p>
      </div>

    </div>
  </div>

</div>
